@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  transition: all;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

html img{
  user-select: none;
}

body {  
  margin: 0;
  padding: 0;
  font-family: 'Bellota Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #15101b;
  scroll-behavior: smooth;
}

.turr{
  font-family: 'Zen Dots';
}

.shad{
  box-shadow: 0px 1.13254px 28.3135px rgba(213, 104, 255, 0.5), inset 0px 8.2109px 42.4702px rgba(213, 104, 255, 0.8);
}

/*---------------HP Classics---------------*/


/*centering absolute stuff*/

      .centerh{      
        left: 50%;                        
        transform: translate(-50%, 0)
      }

      .centerv{      
        top: 50%;                        
        transform: translate(0, -50%)
        
      }


/*Selection controls*/

      ::-moz-selection {
        color: black; 
        background: #ffffff;
      }

      ::selection {
        color: black; 
        background: #ffffff;
      }

      .noselect {
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        pointer-events: none;
      }


/*media hacks*/

      .pc{
        visibility: visible;
        display: flex;
      }

      .mob{
        visibility: hidden;
        display: none;
      }
      
      .hide{
        display: none;
        visibility: hidden;
      }


/*Scrollbar customized*/

    ::-webkit-scrollbar-track {
      background-color: transparent;
      overflow: overlay;
      width: 5px;
      z-index: 100;
    }

    ::-webkit-scrollbar {
      width: 5px;
      overflow: overlay;
      z-index: 100;
      height: 4px;
    }

    ::-webkit-scrollbar-thumb {
      visibility: visible;
      border-radius: 100px;

      background-color: #d8d8d8;
      z-index: 150;
    }


/*z-index hacks*/

      .toppp{
        z-index: 9999;
      }

      .topppp{
        z-index: 99999;
      }

      .bottt{
        z-index: -9999; 
      }

      .botttt{
        z-index: -99999; 
      }


/*animation*/

      .scaleup{
        transition: scale 0.5s;
        transition-timing-function: ease-in-out;
      }
      .scaleup:hover{
        scale: 101%;
      }

/*others*/

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.textgrad{
  background: linear-gradient(180deg, #D568FF 0%, #5070F5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@media screen and (max-width: 768px) {

  .mob{
    visibility: visible;
    display:flex;
  }
  .pc{
    visibility: hidden;
    display: none;
  }

}


/*---------------HP Classics---------------*/